:root {
  --background-color: #f4f4f4;
  --text-color: black;
  --link-color: #4e5289;
  --text-highlight-color: rgba(1, 1, 1, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #26282B;
    --text-color: white;
    --link-color: #8c91db;
    --text-highlight-color: rgba(255, 255, 255, 0.1);
  }
}

div.example {
  margin: 0;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0 40px;
  font-size: 1rem;
  font-family: monospace;
}

.example-formatted {
  font-family: monospace;
}

.code {
  white-space: nowrap;
  background-color: var(--text-highlight-color);
}

.settitle {
  text-align: left !important;
}

a {
  color: var(--link-color);
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  margin: 0;
  margin-bottom: 1ch;
}

body > * {
  max-width: 80ch;
  margin: 0 auto;
}

header {
  margin: 6ch auto;
}

header > h1 {
  font-weight: normal;
  font-size: 1em;
}

footer {
  margin: 4ch auto;
}

pre {
  background: rgba(0,0,0, 0.75);
  color: white;
  padding: 1.5em;
  max-width: 100%;
  overflow: auto;
  font-size: large;
  line-height: 1;
}

.logo-name {
  font-weight: bold;
}

hr {
  border: none;
  height: 1px;
  opacity: 0.5;
  background-color: var(--text-color);
}

ol {
  margin-left: 1.5em;
}
